/* No scroll down */
html{
  height:100%
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script', cursive;
    color:black;
    text-align:center;

    background-image: url("data/bg0021.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  h1{
    font-size: 60px;
    margin: 20px;
    position: relative;
  }
  
  .detail p{

    font-family: 'Caveat', cursive;
    font-family: 'Titillium Web', sans-serif;

    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:0.5em;font-size:20px;
    background-color:rgb(11, 85, 243);
    color:#ffffff;

    position: relative;
    top: 40%;
    /* margin-top: 500px; */
  }

  .container {
    display: flex; /* or inline-flex */
    flex-direction:  column;
    justify-content: center;
  }
  
  .project_canvas{
    position: relative;
    top: 15px;
}

  #poseReady{
    font-family: 'Caveat', cursive;
    font-family: 'Titillium Web', sans-serif;

    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */   
    background-color: rgb(11, 85, 243);
    color: white;
    padding: 5px;
    border: none;
    font-size: 16px;
    margin-top:20px;
}
  #poseReady:hover{
    background:black;
  }

  .footNote{
    color:white;
    font-size: 14px;
    margin-top: 20px;  
  }
  
  @media(max-width:660px){
    .detail{
        width:400px;
    }
    .project_canvas{
        height:600px;
    }
  }
